<a href="https://colab.research.google.com/github/jitu519/example_neurolab/blob/master/Practise_list_demo_002.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
A = [[1,2,3], [11, 22, 33], [45, 56, 77]]

A[0]

[1, 2, 3]

In [ ]:
A[0][0]

1

In [ ]:
amazon_cart = [["watch", 5000], ["phone", 10000], ["laptop", 50000]]

total_cost = 0

for item in amazon_cart:
  print(item, item[1])
  total_cost = total_cost + item[1]
  print(f"{total_cost} = {total_cost} + {item[1]}")

print(f"amount to be paid : {total_cost}")

['watch', 5000] 5000
5000 = 5000 + 5000
['phone', 10000] 10000
15000 = 15000 + 10000
['laptop', 50000] 50000
65000 = 65000 + 50000
amount to be paid : 65000

In [ ]:
#without for loop

In [ ]:
amazon_cart = [["watch", 5000], ["phone", 10000], ["laptop", 50000]]
amazon_cart[0][1] + amazon_cart[1][1] + amazon_cart[2][1]

65000

List comprehension

In [ ]:
#list which contains list of square of nos between 1 to 10
A = [1,2,3,4,5,6,7,8,9,10]
ans = list()

for i in A:
  ans.append(i**2)
  
print(ans)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
A = [1,2,3,4,5,6,7,8,9,10]

answer = list()

for ele in A:
  print(ele**2)
  answer.append(ele**2)

print(answer)

In [ ]:
A = [1,2,3,4,5,6,7,8,9,10]

ans = [i**2 for i in A]

print(ans)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
A = [1,2,3,4,5,6,7,8,9,10]
# print squire of odd nos.
# print odd nos.

ans = list()

for i in A:
  if i%2 != 0:
    print(i)
    ans.append(i**2)
print(ans)

1
3
5
7
9
[1, 9, 25, 49, 81]

In [ ]:
ans = [i**2 for i in A if i%2 != 0]
print(ans)

[1, 9, 25, 49, 81]

In [ ]:
A = [1,2,1,4,5,6,7,7,7]
A.count(7)

3

In [ ]:
A = "Sunny"
for i in A:
  print(i, A.count(i))

S 1
u 1
n 2
n 2
y 1

In [ ]:
A = [1,2,3]

B = [11, 22, 33]

A.extend(B)

In [ ]:
A

[1, 2, 3, 11, 22, 33]

# index method

In [ ]:
A = [11, 3, 4, 56+2j, "Sunny", 1+2j]
A.index(3)

1

In [ ]:
# print the index of all the complex nos.
# do a for loop
# if condition for type check
# if type is complex then print the index

A = [11, 3+2j, 4, 56+2j, "Sunny", 1+2j]

for ele in A:
  if type(ele) == complex:
    print(f"complex nos: {ele}")

complex nos: (3+2j)
complex nos: (56+2j)
complex nos: (1+2j)

#isinstance

In [ ]:
for ele in A:
  if isinstance(ele,complex):
    print(f"Element: {ele}, Type: {type(ele)}, Index: {A.index(ele)}")

Element: (3+2j), Type: <class 'complex'>, Index: 1
Element: (56+2j), Type: <class 'complex'>, Index: 3
Element: (1+2j), Type: <class 'complex'>, Index: 5

In [ ]:
ans1 = [ele for ele in A if isinstance (ele,int)]
ans1

[11, 4]

In [ ]:
ans = [ele for ele in A if isinstance(ele, complex)]
ans

[(3+2j), (56+2j), (1+2j)]

In [ ]:
A = [11, 3+2j, 4, 56+2j, "Sunny", 1+2j]
ans = [ele for ele in A if isinstance(ele, complex) or isinstance(ele,int)]
print(f"Element: {ele}, Type: {type(ele)}, Index: {A.index(ele)}")

Element: (1+2j), Type: <class 'complex'>, Index: 5

In [ ]:
for ele in A:
  if isinstance(ele, complex) or isinstance(ele, int):
    print(f"Element: {ele} | Type: {type(ele)} | Index: {A.index(ele)}")

Element: 11 | Type: <class 'int'> | Index: 0
Element: (3+2j) | Type: <class 'complex'> | Index: 1
Element: 4 | Type: <class 'int'> | Index: 2
Element: (56+2j) | Type: <class 'complex'> | Index: 3
Element: (1+2j) | Type: <class 'complex'> | Index: 5

In [ ]:
for ele in A:
  if isinstance(ele, (complex,str)):
    print(f"Element: {ele} | Type: {type(ele)} | Index: {A.index(ele)}")

Element: (3+2j) | Type: <class 'complex'> | Index: 1
Element: (56+2j) | Type: <class 'complex'> | Index: 3
Element: Sunny | Type: <class 'str'> | Index: 4
Element: (1+2j) | Type: <class 'complex'> | Index: 5

In [ ]:
#insert

In [ ]:
A = [1,2,3,4,5]

A.insert(2,"sunny")

In [ ]:
A

[1, 2, 'sunny', 3, 4, 5]

In [ ]:
A.insert(2000,"jitu")

In [ ]:
A

[1, 2, 'sunny', 3, 4, 5, 'jitu']

In [ ]:
A[2000]

IndexError: ignored

In [ ]:
A.insert(,"jitu")

SyntaxError: ignored

In [ ]:
A.insert("jitu,"Sunny")

SyntaxError: ignored

In [ ]:
A.remove("jitu")

In [ ]:
A

[1, 2, 'sunny', 3, 4, 5]

In [ ]:
A = [3, 4, 'Sunny', 5, 'Sunny']

In [ ]:
A.remove("Sunny")

In [ ]:
A

[3, 4, 5, 'Sunny']

In [ ]:
A.pop(-1)

'Sunny'

In [ ]:
A

[3, 4, 5]

In [ ]:
A.pop(1)

4

In [ ]:
A

[3, 5]

In [ ]:
A.pop()

5

In [ ]:
A

[3]

#tuple

In [ ]:
A = (1,2,3)

In [ ]:
type(A)

tuple

In [ ]:
A[0]

1

In [ ]:
A[0] = 20

TypeError: ignored

In [ ]:
A = (22, 12, 34, 1)
A.sort()

AttributeError: ignored

In [ ]:
sorted(A)
A

(22, 12, 34, 1)

In [ ]:
sorted(A)

[1, 12, 22, 34]

In [ ]:
A*2

(22, 12, 34, 1, 22, 12, 34, 1)

In [ ]:
max(A)

34

In [ ]:
min(A)

1

In [ ]:
A.index(12)

1

In [ ]:
A.count(12)

1

In [ ]:
sum(A)

69

In [ ]:
A[::-1]

(1, 34, 12, 22)

In [ ]:
x = {1,2,33,6,7}

type(x)

set

In [ ]:
x = set()

In [ ]:
x = {}
type(x)

dict

In [ ]:
x.add(34)

AttributeError: ignored

In [ ]:
x = {1,2,33,6,7}

In [ ]:
x.add(99)

In [ ]:
x

{1, 2, 6, 7, 33, 99}

In [ ]:
x.add(34)

In [ ]:
x

{1, 2, 6, 7, 33, 34, 99}

In [ ]:
x.add(31)
x

{1, 2, 6, 7, 31, 33, 34, 99}

In [ ]:
x.remove(1)

In [ ]:
x

{2, 6, 7, 31, 33, 34, 99}

In [ ]:
x.pop(-1)

TypeError: ignored

In [ ]:
x.pop()

2

In [ ]:
A = [1,2,3,5,5,6,6,7,7,7]

A = list(set(A))

A

[1, 2, 3, 5, 6, 7]

In [ ]:
name = "jitu"

example = [name for i in range(5000)]

In [ ]:
example

In [ ]:
Assignment
On amazon website we have the following available items -
amazon_website = [("watch", 5000), ("phone", 10000), ("laptop", 50000), ("shirt", 1000)]
Take the user input N no. of times and find out the total cost to be paid?

OR

You can ask the user quntity or the count of item?

if the item is not present in the amazon website then print that item as out of stock and do add it total

HINT: while, for loop.. indexing

In [ ]:
Assignment
On amazon website we have the following available items -
amazon_website = [("watch", 5000), ("phone", 10000), ("laptop", 50000), ("shirt", 1000)]
Take the user input N no. of times and find out the total cost to be paid?

OR

You can ask the user quntity or the count of item?

if the item is not present in the amazon website then print that item as out of stock and do add it total

HINT: while, for loop.. indexing

SyntaxError: ignored

Assignment
On amazon website we have the following available items -
amazon_website = [("watch", 5000), ("phone", 10000), ("laptop", 50000), ("shirt", 1000)]
Take the user input N no. of times and find out the total cost to be paid?

OR

You can ask the user quntity or the count of item?

if the item is not present in the amazon website then print that item as out of stock and do add it total

HINT: while, for loop.. indexing