<a href="https://colab.research.google.com/github/jitu519/example_neurolab/blob/master/practise_demo3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print = "jitu"

In [ ]:
type (print)

str

In [ ]:
print("jitu")

TypeError: ignored

In [ ]:
del print

In [ ]:
print("jitendra")

jitendra

In [ ]:
A = input("Enter value of A: ")
B = input("Enter value of B: ")
print(f"Sum of A and B is: {A+B}")

Enter value of A: 10
Enter value of B: 45
Sum of A and B is: 1045

In [ ]:
A = int(input("Enter value of A: "))
B = int(input("Enter value of B: "))
print(f"Sum of A and B is: {A+B}")

Enter value of A: 45
Enter value of B: 457
Sum of A and B is: 502

In [ ]:
int p

SyntaxError: ignored

In [ ]:
A = int(input("Enter value of A: "))
B = float(input("Enter value of B: "))
print(f"Sum of A and B is: {A+B}")

Enter value of A: 10.2

ValueError: ignored

In [ ]:
a = 22.2
a = int a

SyntaxError: ignored

In [ ]:
a = 2.3
a = int(a)

In [ ]:
print(a)

2

In [ ]:
a = "2.3"

In [ ]:
a = int(a)

ValueError: ignored

In [ ]:
a = float(a)

In [ ]:
print(a)

2.3

In [ ]:
a = 5

In [ ]:
id (a)

11122720

In [ ]:
b = 5

In [ ]:
id(b)

11122720

In [ ]:
c = 6 
id (c)

11122752

In [ ]:
c = "ji"

In [ ]:
id (c)

139744788381232

In [ ]:
A = input("Enter value of A: ")
B = input("Enter value of B: ")
print(f"Sum of A and B is: {A+B}")

Enter a number:52

In [ ]:
a = "22\3"
print(f"""
My address is {a}
""")

My address is 22

In [ ]:
print("22\3")

22

In [ ]:
print("I earn 20$ daily.")

I earn 20$ daily.

In [ ]:
print("My address is 22\3")

My address is 22

In [ ]:
print("My address is 22\\3")

My address is 22\3

In [ ]:
name, address, date_of_birth = input("My name: " ), input("address: " ), input("date of birth: " )

In [ ]:
a = 22.4
print(int(a))

22

In [ ]:
b = 22
print(complex(b))

(22+0j)