<a href="https://colab.research.google.com/github/jitu519/example_neurolab/blob/master/practise_oct09.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
total_amount = 90+100+53+562
print(f"cart total: = {total_amount}")
if total_amount > 1000:
  price_after_discount = total_amount*0.3
  print(f"pay: {price_after_discount}")
  print("price_after_discount")
elif 400 <= total_amount <= 1000:
      print(f"total_amount: {total_amount}")
      price_after_discount = total_amount*0.8
      print(f"pay: {price_after_discount}")
else:
   print(f"pay: {total_amount}")

cart total: = 805
total_amount: 805
pay: 644.0

In [ ]:
val = float(input())
if val >=0:
  if val == 0:
    print('Its a zero')
  else:
     print("its a positive no.")
else: 
  print("its a negative no.")

0
Its a zero

In [ ]:
val = float(input("enter_a_number"))
if val>99: print("yes")
else: print("no")

enter_a_number99
no

In [ ]:
cutoff = 400
scores = [100,200,300,399,450]
year = 0

while scores[year] < cutoff:
  print(f"Your score is: {scores[year]} , cutoff: {cutoff}")
  print("I will try next year")
  year = year+1

Your score is: 100 , cutoff: 400
I will try next year
Your score is: 200 , cutoff: 400
I will try next year
Your score is: 300 , cutoff: 400
I will try next year
Your score is: 399 , cutoff: 400
I will try next year

In [ ]:
notes = 10
i = 1
while i <= notes:
  print(f"current sum = {i*10}")
  i = i + 1

current sum = 10
current sum = 20
current sum = 30
current sum = 40
current sum = 50
current sum = 60
current sum = 70
current sum = 80
current sum = 90
current sum = 100

In [ ]:
stations = ["s1","s2","s3","s4"]
current_station = 0
destination_station = "s3"
while stations[current_station] != destination_station:
  print("I have not reached")
  current_station = current_station + 1

I have not reached
I have not reached

In [ ]:
stations = ["s1","s2","s3","s4"]
current_station = 0
destination_station = "s3"
while stations[current_station] != destination_station:
  print("I have not reached")
  current_station = current_station + 1
  print("-----")
else:
  print("I have reached")

I have not reached
-----
I have not reached
-----
I have reached

In [ ]:
for i in range(0,10)
print("10 * {i} = {i*10}")

SyntaxError: ignored

In [ ]:
for i in range(0,10)
print(f"10 * {i} = {i*10}")

SyntaxError: ignored

In [ ]:
for i in range(0,10):
print(f"10 * {i} = {i*10}")

IndentationError: ignored

In [ ]:
for i in range(0,10)
  print(f"10 * {i} = {i*10}")

SyntaxError: ignored

In [ ]:
for i in range(0,10):
  print(f"10 * {i} = {i*10}")

10 * 0 = 0
10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90

In [ ]:
for i in range(1,11):
  print(f"10 * {i} = {i*10}")

10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

In [ ]:
for i in range(1,11):
  print("*"*i)

*
**
***
****
*****
******
*******
********
*********
**********

In [ ]:
for i in range(1,11):
  print(f"*"*{i})

TypeError: ignored

In [ ]:
cost_of_items = [10,50,60,800]
total_sum = 0
for i in range(0,4):
  print(f"sum after adding {total_sum} , {total_sum} + {cost_of_items[i]}")
  total_sum = total_sum + cost_of_items[i]
  
  print(total_sum)

sum after adding 0 , 0 + 10
10
sum after adding 10 , 10 + 50
60
sum after adding 60 , 60 + 60
120
sum after adding 120 , 120 + 800
920

In [ ]:
cost_of_items = [10,50,60,800]
total_sum = 0
N = len(cost_of_items)
for i in range(0,N):
  print(f"sum after adding {total_sum} , {total_sum} + {cost_of_items[i]}")
  total_sum = total_sum + cost_of_items[i]
  
  print(total_sum)

sum after adding 0 , 0 + 10
10
sum after adding 10 , 10 + 50
60
sum after adding 60 , 60 + 60
120
sum after adding 120 , 120 + 800
920

In [ ]:
cost_of_items = [10,50,60,800]
total_sum = 0
for cost in cost_of_items:
  print(f"sum after adding {total_sum} , {total_sum} + {cost}")
  total_sum = total_sum + cost
  
  print(f"total_sum = {total_sum}")

sum after adding 0 , 0 + 10
total_sum = 10
sum after adding 10 , 10 + 50
total_sum = 60
sum after adding 60 , 60 + 60
total_sum = 120
sum after adding 120 , 120 + 800
total_sum = 920

In [ ]:
cost_of_items = [10,50,60,800]
for cost in cost_of_items:
  print(cost)

10
50
60
800

In [ ]:
stations = ["Station 01", "Station 02", "Station 03", "Station 04"]
for current_station in stations:
  print(f"current_station is {current_station}")

current_station is Station 01
current_station is Station 02
current_station is Station 03
current_station is Station 04

#Break and Continue

In [ ]:
cost_of_items = [100, 200, 129, 456, 1000, 199, 299]
#                 0    1    2    3
budget = 1000
total_sum = 0

for cost in cost_of_items:
  total_sum = total_sum + cost
  print(f"total_sum = {total_sum} + {cost}")
  if total_sum > budget:
    total_sum = total_sum - cost
    print(f"total_sum = {total_sum}")
    break

print(f"total_sum = {total_sum}")

total_sum = 100 + 100
total_sum = 300 + 200
total_sum = 429 + 129
total_sum = 885 + 456
total_sum = 1885 + 1000
total_sum = 885
total_sum = 885

In [ ]:
cost_of_items = [100, 200, 129, 456, 1000, 199, 299]
#                 0    1    2    3

total_sum = 0
budget = 2000

for cost in cost_of_items:
  total_sum = total_sum + cost
  print(f"current total: {total_sum}")
  if total_sum > budget:
    print(f"since current total is more than my budget: {budget}")
    print("please remove the last item")
    total_sum = total_sum - cost
    break

print(f'total amount to be paid: {total_sum}')

current total: 100
current total: 300
current total: 429
current total: 885
current total: 1885
current total: 2084
since current total is more than my budget: 2000
please remove the last item
total amount to be paid: 1885

In [ ]:
for i in range(1,20):
  print(i)
  if i > 10:
    
    break

1
2
3
4
5
6
7
8
9
10
11

In [ ]:
for i in range(1,20):
  print(i)
  if i >= 10:
    
    break

1
2
3
4
5
6
7
8
9
10

In [ ]:
for i in range(1, 20):
  if i%2==0: # if no is even then start the loop again
    continue
    print(i)

In [ ]:
for i in range(1, 20):
  if i%2==0: # if no is even then start the loop again
    continue
  print(i)

1
3
5
7
9
11
13
15
17
19

In [ ]:
for i in range(1,20):
  if i%2 != 0:
    continue
  print(i)

2
4
6
8
10
12
14
16
18

In [ ]:
for i in range(1, 20):
  if i%2!=0: #
    break # STOP THE LOOP DON't proceed at all
  print(i)

In [ ]:
stations = ["Station 01", "Station 02", "Station 03", "Station 04"]

for current_station in stations:
  if current_station == "Station 02":
    pass
  print(f"Current station is: {current_station}")

Current station is: Station 01
Current station is: Station 02
Current station is: Station 03
Current station is: Station 04

In [ ]:
stations = ["Station 01", "Station 02", "Station 03", "Station 04"]

for current_station in stations:
  if current_station == "Station 02":
    break
  print(f"Current station is: {current_station}")

Current station is: Station 01

In [ ]:
stations = ["Station 01", "Station 02", "Station 03", "Station 04"]

for current_station in stations:
  if current_station == "Station 02":
    continue
  print(f"Current station is: {current_station}")

Current station is: Station 01
Current station is: Station 03
Current station is: Station 04